body{
    background-color: #651780;
    color: #EE82EE;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;


}
section{
    padding: 80px;
}
.titulo{
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
}
.texto{
    max-width: 589px;
    margin-top: 16px;
    margin-bottom: 36px;
}
.botao_comecar{
    color: #651780;
    font-weight: medium;
    border:2px, solid #EE82EE;
    border-radius: 8px;
    background-color: #EE82EE;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    
}
.botao_entrar{
    color: #EE82EE;
    font-weight: medium;
    border: 2px,solid #EE82EE;
    border-radius: 8px;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    
    
    
    
}